# MongoDB Configuration
mongodb.uri=mongodb://localhost:27017/paf_database
mongodb.database=paf_database

# OAuth2 Configuration
github.client.id=your_github_client_id
github.client.secret=your_github_client_secret
google.client.id=your_google_client_id
google.client.secret=your_google_client_secret

# Token Keys Path Configuration
access.token.private.key.path=access-refresh-token-keys/access-token.key
access.token.public.key.path=access-refresh-token-keys/access-token.pub
refresh.token.private.key.path=access-refresh-token-keys/refresh-token.key
refresh.token.public.key.path=access-refresh-token-keys/refresh-token.pub

# Email Configuration
mail.host=smtp.gmail.com
mail.port=587
mail.username=your-email@gmail.com
mail.password=your-app-specific-password 